#main {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: dodgerblue;
}

p {
    font-size: 20px;
    text-align: center;
    color: orange;
}

.row {
    width: 250px;
    margin: 0 auto;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.tile {
    height: 20px;
    width: 20px;
    background: lightcoral;
    color: white;
    float: left;
    border-style: outset;
    border-width: 2px;
    line-height: 20px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.explored {
    border-style: inset;
}

.flagged, .bombed {
    color: red;
    font-size: 20px;
}

.modal-screen {
    z-index: 998;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, .3);
}

.modal-content {
    z-index: 999;
    position: absolute;
    background: turquoise;
    border-radius: 5px;
    border: 2px solid purple;
    font-size: 20px;
    width: 200px;
    height: 120px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}

.modal-content p {
    color: yellow;
    font-size: 18px;
    padding-top: 10px;
}

button {
    background: lime;
    color: teal;
    border-radius: 5px;
    border: 2px solid purple;
}